.mt-5, .the-excuse {
    color: #ffffff;
    background: #005dff;
    text-shadow: -5px 5px 0px #00e6e6, -10px 10px 0px #01cccc,
      -15px 15px 0px #00bdbd;
    color: #ffffff;
    background: #005dff;
  }
  